*{
    padding: 0;
    border: 0;
}

#titulo-ppal{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 216, 223);
}
.caja{
    /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
    
}

.temas{
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 80px;
    margin-top: 40px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3%;
    
}
p{
    font-size: 1.2em;
}

button{
    background-color: rgb(43, 226, 104);
    height: 45px;
    width: 80px;
}

.cuadro{
    display: flex;
    width: 600px;
    height: 400px;
}



.imagen{
    width: 500px;
    padding: 20px;
}

#texto{
    display: none;
}

#ocultar{
    display: none;
}